body{
	background:linear-gradient(to right,red , yellow);
}

.container{
	
	width: 75%;
	border:1px solid black;
	text-align: center;
	margin: 0 auto;
}
.flexbox-container{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid green;
	justify-content: space-around;
}

/*.flexbox-container img{
	margin: 10px;
}*/

h1{
	text-transform: uppercase;
	color: white;
	animation-name: example;
	animation-duration: 3s;
	animation-iteration-count: infinite;

}

@keyframes example{

	0%{
		background-color: red;
	}
	20%{
		background-color: yellow;
	}
	50%{
		background-color: blue;
	}
	75%{
		background-color: green;
	}

	100%{
		background-color: darkblue;
	}
}